.docs-html {
    height: 100%;
    body {
        height: 100%;
        padding: 0;
    }
}
.full-height {
    height: 100%;
}
.module-docs {
    .d-flex {
        display: flex;
        .one-six{
            flex: 1 1 3%;
        }
        .five-six {
            flex: 5 5 auto;
        }
    }

    .company-logo {
        width: 100%;
        height:300px;
        .logo-holder {
            height: 100%;
            width: 100%;
            background-image: url('http://placehold.it/300x300');
            
        }
    }

    .left-section {
        background-color: #234536;
    }
}