.space-between {
	justify-content: space-between;
}
.media-module .media-item{ 
	border:2px solid black;
}
.media-module .media-item h4{
	background-color: white;
	padding: 20px;
}
.media-module .media-item h6,.media-module .media-item p{
	padding: 20px;
}

.media-item .read-more {
	display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}