.news-feed img{
	width:100%;
}
.news-details{
	overflow: hidden;
    display: flex;
}
.news-details .feed-one{ 
	background-color: #5a8f4b; 
	padding:15px;
}
.news-details .feed-two{ 
	background-color: #f1f1f1;
	padding:15px;
}
.tags-module { 
    width: 100%;  
}
.posts-module{
	width: 100%; 
}
.tags-module li,.posts-module li{
	list-style: none;
}
.posts-module li{
	margin-left: 0px;
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 10px;
}
 
.layout-image{
	border:3px solid black;
}
.aside-module{
	position: fixed;
	right: 0PX;
}